.bg-brown {
  background-color: #7C6A46;
}
.nav-hover {
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 6px;
  padding: 8px 16px;
  display: inline-block;
  transition: transform 0.8s ease, background-color 0.4s ease, box-shadow 0.4s ease;
}

.nav-hover:hover {
  transform: translateY(-6px);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
.logo-hover {
  display: inline-block;
  transition: transform 0.4s ease;
}

.logo-hover:hover {
  transform: scale(1.08);
}
.search-input {
  border: none;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  flex-grow: 1; /* растягивает инпут */
}

.search-box {
  border: 3px solid #e2b984;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff5eb;
  transition: box-shadow 0.3s ease;
  width: 60%;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* чёрная тень при фокусе */
}

.search-btn {
  background-color: #fff5eb;
  border: none;
  padding: 0 20px;
  color: #5c4a2d;
  transition: transform 0.2s ease;
}

.search-btn:hover {
  transform: translateY(-2px); /* приподнимается */
  color:  black;
}