body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.luxury-card {
  max-width: 800px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.luxury-img {
  width: 100%;
  height: auto;
}

.card-body {
  background: #fff;
  padding: 20px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
}

.card-text {
  font-size: 16px;
  color: #000000;
}
.luxury-card {
  max-width: 800px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding-top: 100px;
  
}

.luxury-img {
  width: 80%;
  height: auto;
}

.overlay {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  height: 100px;
  width: 500px;
}
.card-img-overlay{
  margin-top: 280px;
  margin-left: 150px;
}